@import './Variables.scss';
@import './Common.scss';


.choice{
    margin-top:160px;
    position: relative;
    div{
        display: flex;
        justify-content: space-between;
        span{
            @include title(40px, $primary-color, 400);
            font-family: $Montserrat;
            font-weight: bold;
            @include sm{
                font-size: 25px;
                margin-bottom:20px;
            }
        }
        p{
            @include title(18px, $primary-color, 400);
            font-family: $Montserrat;
        }
        @include sm {
            flex-direction: column;
        }
    }
    img{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .playIcon {
        @include lg{
        position: absolute;
        color:#fff;
        font-size:40px;
        background:#5454D4;
        border-radius:50%;
        padding:20px;
        left:47%;
        top:54%;
        cursor:pointer;
        }
        @include sm{
        position: absolute;
        color:#fff;
        font-size:40px;
        background:#5454D4;
        border-radius:50%;
        padding:20px;
        left:40%;
        top:65%;
        cursor:pointer;
        }
        @include md{
        position: absolute;
        color:#fff;
        font-size:40px;
        background:#5454D4;
        border-radius:50%;
        padding:20px;
        left:47%;
        top:58%;
        cursor:pointer;
        }
    }
}