@import './Variables.scss';
@import './Common.scss';


.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include sm{
        flex-direction: column;

    }
    a{
        @include sm{
            display: block;
            text-align: center;
            flex-direction: column;
            margin-bottom:20px;
    
        }
        
        color: $primary-color;
        font-family: $Montserrat;
        font-weight: bold;
        text-decoration: none;
        margin: 0px 30px;
        &:hover{
            color: $primary-color;
        }
    }
    span{
        color: $primary-color;
        font-family: $Montserrat;
        font-weight: bold;
        text-decoration: none;
        margin-right: 30px;
    }
}