@import './Variables.scss';
@import './Common.scss';

.hero-section{
    margin-top:61px;
    display: grid;
    grid-template-columns: 7fr 4fr;
    align-items: center;

    .hero-title{
        color:$primary-color;
        font-size:53px;
        font-weight: bold;
        font-family:$Montserrat;

    }
    p{
        font-family:$Montserrat;
        color:$primary-color;
        font-size:20px;
        font-weight:400px;
        margin-top:20px;
    }

    .hero-image{
        position: relative;
        img{
            clip-path: polygon(71% -6%, 76% 3%, 98% -8%, 102% 55%, 82% 88%, 74% 101%, 32% 87%, 12% 80%, -3% 54%, 20% 9%);
        }
        @include sm{
            text-align: center;
            margin-top: 80px;
        }
        &::before {
            @include rectangle;
            left: 50px;
            bottom: 36px;
            background: $main-color;
            top:137px;
            @include sm {
              left: 70px;
            }
            @include md {
              left: 50px;
              bottom: 38px;
            }
          }
          &::after {
            @include rectangle;
            z-index: -1;
            left: 40px;
            bottom:36px;
            top: 80px;
            @include sm {
              left: 40px;
              top:80px;
            }
            @include md {
              left: 37px;
              top:90px;
            }
          }
          .zigzag{
              @include zigzag;
          }
          .circle{
              @include circle;
          }
          .triangleOne{
                @include triangleOne;
          }
          .triangleTwo{
              @include triangleTwo;
          }
          .plus{
                @include plus;
          }
        
    }
    

    
    button{
        @include button(0.66369px solid #FFFFFF,  3.31845px, none, 145px);
        background-color:$main-color;
        margin-top:60px;
        border:0px;
        font-family: $Montserrat;
    }

    .arrow{
        transform: rotate(-35deg);
        margin-bottom:-2px;
    }

}



@media screen and (max-width: 768px){
    .hero-section{
        grid-template-columns: 1fr;
    }
    .hero-title{
        font-size:30px;
    }
    p{
        font-size:15px;
    }
    img{
        justify-content: center;
    }
}
    
