@import './Variables.scss';
@import './Common.scss';

.hero-section{
    margin-top:61px;
    display: grid;
    grid-template-columns: 7fr 4fr;
    align-items: center;

    .hero-title{
        color:$primary-color;
        font-size:53px;
        font-weight: bold;
        font-family:$Montserrat;

    }
    p{
        font-family:$Montserrat;
        color:$primary-color;
        font-size:20px;
        font-weight:400px;
        margin-top:20px;
    }

    .hero-image{
        text-align: center;
        img{
            clip-path: polygon(71% -6%, 76% 3%, 98% -8%, 102% 55%, 82% 88%, 74% 101%, 32% 87%, 12% 80%, -3% 54%, 20% 9%);
        }
        &::before {
            content: "";
            position: absolute;
          }
    }
    

    
    button{
        @include button(0.66369px solid #FFFFFF,  3.31845px, none, 145px);
        background-color:$main-color;
        margin-top:60px;
        border:0px;
    }

    .arrow{
        transform: rotate(-35deg);
        margin-bottom:-2px;
    }

}



@media screen and (max-width: 768px){
    .hero-section{
        grid-template-columns: 1fr;
    }
    .hero-title{
        font-size:30px;
    }
    p{
        font-size:15px;
    }
    img{
        justify-content: center;
    }
}
    
