@import "./Variables.scss";
@import './Common.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 27px 0;

  h3 {
    font-size: 25px;
    font-family: $Montserrat;
  }
  &-menu {
    display: flex;
    list-style: none;
    @include sm {
      display: none;
    }
  }
  li {
    margin: 0 26px;
    font-family: $Montserrat;
    &:first-child a {
      color: $main-color;
    }
  }
  a {
    text-decoration: none;
    color: $secondary-color;
    font-size: 20px;
    &:hover {
      color: $main-color;
    }
  }
  button{
    @include button(0.66369px solid #FFFFFF,  3.31845px, none, 135px);
    &:hover{
        background-color: $main-color;
    }
    @include sm{
      display: none;
    }
  }
  &-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    &:hover {
      color: $main-color;
    }
    @include sm {
      display: block;
    }
  }
}