@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

$Montserrat: 'Montserrat', sans-serif;

// Colors
$body-color: #19191b;
$main-color: #5454d4;
$primary-color: #fff;
$secondary-color: rgba(255, 255, 255, 0.7);




// Button Styles
@mixin button($border, $border_radius, $background_color, $width){
  width: $width;
  border: $border;
  border-radius: $border_radius;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  color: $primary-color;
  padding: 10px 20px; 
}


// Title Styles
@mixin title($font_size, $font_weight, $color){
  font-size: $font_size;
  font-weight: $font_weight;
  color: $color;
}


// Details Styles
@mixin details{
    font-size: 13.9375px;
    line-height: 26px;
    letter-spacing: -0.43573px;
    color: rgba(255, 255, 255, 0.7);

}

// Paragraph Styles
@mixin paragraph($font_size, $font_weight, $color, $font-family) {
  font-family: $Montserrat;
  font-size: $font_size;
  font-weight: $font_weight;
  color: $color;

}

// Rectangle Styles
@mixin rectangle{
  content: "";
  position: absolute;
  height: 249px;
  width: 249px;
  transform: rotate(24deg);
  border: 2px solid $primary-color;
  border-radius: 14.72px;
}


// Zigzag Styles
@mixin zigzag{
border: solid rgb(255, 255, 255);
border-width: 0 3px 3px 0;
display: inline-block;
padding: 10px;
transform: rotate(-135deg);
position: absolute;
left: -50px;
top: 20px;
@include sm{
  left: 20px;
}
&::before{
  content: "";
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  left: -21px;
  bottom: -24px;
}
&::after {
  content: "";
  border: solid rgb(255, 255, 255);
  border-width: 0px 0px 3px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  left: 20px;
  top: -21px;
}
}

// Circle Styles
@mixin circle{
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50% ;
  position: absolute;
  fontWeight: bold;;
  left: 350px;
  top: 0px;
  @include sm{
    left: 280px;
  }
  &::before{
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      top: 15px;
      left: 10px;
      border: 3px solid #fff;
      opacity: 0.5;
  }
}



// Triangle Styles
@mixin triangleOne{
position:absolute;
width:27px;
height: 53px;
left: -50px;
right:  0px;
top: 350px;
border-left: 3.65476px solid #E7E7E7;
@include sm{
  left:20px;
}
&::before {
content: "";
position: absolute;
width: 53px;
height: -9.42px;
left: -7px;
right: -3px;
top: 38px;
border-top: 3.65476px solid #E7E7E7;
transform: rotate(-32deg);
}
&::after{
content: "";
position: absolute;
width: 53px;
height: 34.58px;
left: 3px;
right: -8px;
top: -22px;
border-bottom: 3.65476px solid #E7E7E7;
transform: rotate(30deg);
}

}

// Triangle Styles
@mixin triangleTwo{
  position: absolute;
  width: 27px;
  height: 53px;
  left: -40px;
  right: 0px;
  top: 371px;
  border-left: 1.65476px solid #E7E7E7;
  border-radius: 2px;
  @include sm{
    left: 30px;
  }
  &::before{
      content: "";
      position: absolute;
      width: 51px;
      height: -12.42px;
      left: -5px;
      right: -2px;
      top: 39px;
      border-top: 1.65476px solid #E7E7E7;
      transform: rotate(-30deg);
  }
  &::after{
      content: "";
      position: absolute;
      width: 52px;
      height:26.58px;
      left: 2px;
      right: -8px;
      top: -11px;
      border-bottom: 1.65476px solid #E7E7E7;
      transform: rotate(30deg);
  }
  }

// Plus Styles
@mixin plus{
background: rgb(255, 255, 255);
height: 38px;
position: absolute;
width: 5px;
top: 390px;
left: 370px;
borderRadius: 2px;
@include sm{
  left: 320px;
}
&::before {
background: rgb(255, 255, 255);
content:"";
height: 5px;
left: -17px;
position: absolute;
top: 16px;
width: 39px;
border-radius: 2px;
}
}


// Dot Styles
@mixin dot{
background: #5454D4;
height: 0px;
width: 13px;
padding:  4px;
position: absolute;
left: 51%;
border-radius:  10px;
top: 660px;
&::before {
content: "";
height: 5px;
width: 5px;
background: #121213;
position: absolute;
right: -20px;
top: 2px;
border-radius: 5px;
}
&::after {
content: "";
height: 5px;
width: 5px;
background: #121213;
position: absolute;
right: -11px;
top: 2px;;
border-radius: 5px;
}
}



// Responsive

@mixin sm {
  @media screen and (max-width: 575px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 575px) and (max-width: 992px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}