@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

$Montserrat: 'Montserrat', sans-serif;

// Colors
$body-color: #19191b;
$main-color: #5454d4;
$primary-color: #fff;
$secondary-color: rgba(255, 255, 255, 0.7);


@mixin buttonStyle{
    padding: 10px 30px;
    color: $primary-color;
    background: $main-color;
    border: 0.66369px solid $secondary-color;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        border-color: $main-color;
        transition: ease all 1s;
    }
}



@mixin rectangle{
    
}


@mixin mT($size) {
  margin-top: $size;
}
// Responsive

@mixin sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 768px) and (max-width: 992px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}