@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

$Montserrat: 'Montserrat', sans-serif;

// Colors
$body-color: #19191b;
$main-color: #5454d4;
$primary-color: #fff;
$secondary-color: rgba(255, 255, 255, 0.7);



// Button Styles
@mixin button($border, $border_radius, $background_color, $width){
  width: $width;
  border: $border;
  border-radius: $border_radius;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  color: $primary-color;
  padding: 10px 20px; 
}


// Title Styles
@mixin title($font_size, $font_weight, $color){
  font-size: $font_size;
  font-weight: $font_weight;
  color: $color;
}




@mixin rectangle{
    
}


@mixin mT($size) {
  margin-top: $size;
}





// Responsive

@mixin sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 768px) and (max-width: 992px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}